{% extends 'products/base.html' %}

{% block content %}

<!-- Full Page Background -->
<div class="d-flex justify-content-center align-items-center">

    <div class="card shadow-lg border-0 mt-5"
         style="width: 380px; border-radius:15px; margin-right: 17%;">

        <div class="card-body p-4">

            <!-- Logo / Title -->
            <div class="text-center mb-4">
                <h3 class="fw-bold">Arfaana Inventory</h3>
                <p class="text-muted">Login to your account</p>
            </div>

            <!-- Error -->
            {% if form.errors %}
            <div class="alert alert-danger text-center">
                Invalid username or password
            </div>
            {% endif %}

            <!-- Form -->
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text"
                           name="username"
                           required
                           autofocus
                           class="form-control form-control-lg">
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password"
                           name="password"
                           required
                           class="form-control form-control-lg">
                </div>

                <button type="submit"
                        class="btn btn-primary w-100 btn-lg mt-2">
                    🔐 Login
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
